@page
@model PersonalDataModel
@{
    ViewData["Title"] = "ข้อมูลส่วนบุคคล";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-8 ">
        <p>บัญชีของคุณมีข้อมูลส่วนบุคคลที่คุณได้ให้ไว้กับเรา หน้านี้อนุญาตให้คุณดาวน์โหลดหรือลบข้อมูลเหล่านั้นได้</p>
        <p>
            <strong>การลบข้อมูลนี้จะเป็นการลบบัญชีของคุณอย่างถาวร และไม่สามารถกู้คืนได้</strong>
        </p>
        <div class="d-flex gap-2">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary" type="submit"><i class="bi bi-download"></i> ดาวน์โหลดข้อมูลส่วนบุคคล</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger"><i class="bi bi-trash"></i> ลบข้อมูลส่วนบุคคล</a>
            </p>            
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
